/**general**/

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: $font;
  line-height: 1.5;
  color: $textLight;
  font-size: 1.4rem;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.padding {
  padding: 6rem 2rem;
}

.width-full{
  width: 100%;
  height: 100%;
  font-size: 0;
}

/*button*/

.btn {
  display: inline-block;
  padding: 0.9rem 3rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  cursor: pointer;
  background-color: $bg;
  color: $textDark;
  border: 3px solid $tertiary;
  border-radius: 6rem;
  transition: all 200ms ease-in-out;
}
.heading {
  font-size: 2.7rem;
  font-weight: 400;
  color: $textDark;
  margin-bottom: 1rem;
}
