/**grid**/

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.hero-col1 {
  grid-column: span 2;
  font-size: 0;
}
.hero-col2 {
  padding: 1.2rem;
  grid-column: span 2;
  margin-top: 10rem;
  margin-left: 2rem;
  margin-bottom: 10rem;
}

.col-1{
    grid-column: span 2;
    height: 25rem;
}
