$font: 'Roboto', sans-serif;
$primary: rgb(236,175,78);
$secondary:rgb(252,104,62);
$tertiary:rgb(22,22,22);
$textDark: rgb(88, 92, 100);
$textLight: rgb(147, 160, 189);
$textWhite: rgb(255, 255, 255);
$bg: rgb(245,227,215);
